<% if(success && success.length) {%>
    <!-- 加success.length是因為success是空[] -->
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= success %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <!-- https://getbootstrap.com/docs/5.3/components/alerts/ -->
</div>
<% } %>

<% if(error && error.length) {%>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= error %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<% } %>