<footer class="footer bg-dark py-3 mt-auto">
    <!-- padding-y軸 與 margin top auto的意思 -->
     <!-- justify-content 更關注於在容器內部如何分佈和對齊元素，
      而 mt-auto 更關注於將特定元素推到容器的特定位置。 -->
    <div class="container">
        <span class="text-muted">&copy; YelpCamp 2020</span>
    </div>
</footer>